trainingInput:
    scaleTier: BASIC
    runtimeVersion: "2.1"
    pythonVersion: "3.7"
    hyperparameters:
        goal: MAXIMIZE
        maxTrials: 20
        maxParallelTrials: 5
        hyperparameterMetricTag: loss
        enableTrialEarlyStopping: TRUE
        params:
            - parameterName: size
              type: INTEGER
              minValue: 5
              maxValue: 100
              scaleType: UNIT_LINEAR_SCALE
            - parameterName: window
              type: INTEGER
              minValue: 5
              maxValue: 100
              scaleType: UNIT_LINEAR_SCALE
